importFrom(circlize, colorRamp2)
importFrom(ComplexHeatmap, Heatmap, HeatmapAnnotation, rowAnnotation, columnAnnotation, ht_opt)
importFrom(dplyr, case_when)
importFrom(eulerr, euler)
importFrom(ggplot2, ggplot, aes, geom_point, scale_color_manual, geom_hline, theme_bw, labs)
importFrom(grDevices, colorRampPalette)
importFrom(grid, gpar)
importFrom(stats, lm, confint)
importFrom(tibble, column_to_rownames)
importFrom(tidyr, spread)
importFrom(vegan, diversity)
exportPattern("^[[:alpha:]]+")
