importFrom(circlize, colorRamp2)
import(ComplexHeatmap)
import(dplyr)
importFrom(eulerr, euler)
import(forcats)
importFrom(ggpubr, ggarrange)
import(ggplot2)
importFrom(grDevices, colorRampPalette)
import(ggrepel)
importFrom(ggh4x, facet_grid2)
import(grid)
importFrom(rmarkdown, render)
importFrom(Seurat, VariableFeatures, AverageExpression, FindAllMarkers)
importFrom(stats, lm, confint)
import(stringr)
importFrom(tibble, column_to_rownames, rownames_to_column)
import(tidyr)
importFrom(vegan, diversity)
exportPattern("^[[:alpha:]]+")
